{% extends "picker/base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script src="{% static 'picker/js/hideseek/jquery.hideseek.min.js' %}"></script>
<script src="{% static 'picker/js/picker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'picker/style.css' %}" />
{% endblock extra_head %}

{% block content %}
    <h1> Game </h1>
    <p>{{ game.redTeam }} vs {{ game.blueTeam }} </p>

    <input id="champion-search" name="champion-search" placeholder="Start typing here" type="text" data-toggle="hideseek" data-list=".champion-list" />
    <input id="champion-confirm" type="button" value="Lock in!" />
    <ul class="champion-list">
    {% for champ in champions %}
      <li class="champion" id="{{ champ.lolID }}">
        <img src="{{ champ.imageURL }}"/>
        <div>{{ champ.name }}</div>
      </li>
    {% endfor %}
    </ul>
{% endblock content %}
