# Cached python
**/__pycache__
*.pyc

# Sensitive data
lolpicker/sensitive.py
loadscripts/riotAPI.py

# Migrations
**/migrations

# Vim temp files
**/*.swp

# Dev database
db.sqlite3

# Collected static files
static/*

# Ignore the images
images/
