#header {
  text-align: center;
}

#container {
  text-align: center;
  width: 1300px;
  margin: auto;
}

#clock {
  display: inline;
  font: bold 25px sans-serif;
}

#search {
  float: right;
  vertical-align: center;
}

#champion-search {
  height: 20px;
}

#champion-confirm {
  font-size: 14px;
  padding: 3px 18px;
}

#champion-select {
  width: 1000px;
  display: inline-block;
}

.champion-list {
  list-style-type: none;
  display: inline-block;
}

.champion {
  float: left;
  padding: 3px;
}

.highlight {
  background: red;
}

.champion-name {
  font-size: 8pt;
}

.sidebar {
  width: 135px;
  display: inline-block;
  margin: 2px;
  vertical-align: top;
}

.blue.picks {
  border-style: solid;
  border-width: 2px;
  border-color: mediumblue;
}

.red.picks {
  border-style: solid;
  border-width: 2px;
  border-color: maroon;
}

.teamname {
  text-align: center;
  font: 14pt;
  font-weight: bold;
}

.teamname.blue {
  color: royalblue;
}


.teamname.red {
  color: red;
}

.round {
  margin: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 75px;
}

.round.ban {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
}

.bans {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ban-title {
  font: 14pt;
  font-weight: bold;
}

.picks {
  text-align: center;
}

.portrait {
  width: 70px;
  height: 70px;
}

.portrait.ban {
  width: 40px;
  height: 40px;
  display: inline-block;
}
